<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Services -->
    <bean id="userRegisterService" class="com.xylope.betriot.layer.service.user.register.UserRegisterService">
        <constructor-arg ref="guildMemberJoinListener"/>
        <constructor-arg ref="privateMessageReactionAddListener"/>
        <constructor-arg ref="privateMessageReceivedListener"/>
        <property name="summonerAPI" ref="summonerApi"/>
        <property name="dao" ref="userDao"/>
        <property name="dataDragonAPI" ref="dataDragonApi"/>
    </bean>

    <!-- JDA Events and CustomEventManager -->
    <bean id="jdaEventManager" class="com.xylope.betriot.JDAEventManager">
        <property name="listeners">
            <list>
                <ref bean="guildMemberJoinListener"/>
                <ref bean="messageReceivedListener"/>
                <ref bean="privateMessageReactionAddListener"/>
                <ref bean="privateMessageReceivedListener"/>
            </list>
        </property>
    </bean>

    <bean id="guildMemberJoinListener" class="com.xylope.betriot.layer.service.discord.listener.GuildMemberJoinListener"/>
    <bean id="messageReceivedListener" class="com.xylope.betriot.layer.service.discord.listener.MessageReceivedListener"/>
    <bean id="privateMessageReactionAddListener" class="com.xylope.betriot.layer.service.discord.listener.PrivateMessageReactionAddListener"/>
    <bean id="privateMessageReceivedListener" class="com.xylope.betriot.layer.service.discord.listener.PrivateMessageReceivedListener"/>
    <!-- Riot API -->
    <bean id="dataDragonApi" class="com.xylope.betriot.layer.dataaccess.DataDragonAPIImpl">
        <property name="riotApiKey" ref="riotApiKey"/>
    </bean>
    <bean id="summonerApi" class="com.xylope.betriot.layer.dataaccess.SummonerV4SummonerAPI">
        <property name="riotApiKey" ref="riotApiKey"/>
        <property name="callback" ref="summonerApiCallback"/>
    </bean>

    <bean id="summonerApiCallback" class="com.xylope.betriot.layer.dataaccess.SummonerV4SummonerAPI$SummonerAPICallback"/>


    <!-- DAOs -->
    <bean id="userDao" class="com.xylope.betriot.layer.domain.dao.UserDaoJdbc">
        <property name="jdbc" ref="jdbcTemplate"/>
    </bean>

    <bean id = "jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/bet_riot_test?characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="0000"/>
    </bean>
</beans>

