<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="pattern"> -%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=red-blink, ERROR=red, INFO=green, DEBUG=blue}  [%C] %style{[%t]}{yellow}- %m%n</property>
        <property name="path">/log/logs</property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="file" fileName="${path}/${logNm}.log" filePattern="${path}${logNm}_%d{yyyyMMdd}.log">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size = "10MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max = "500" fileIndex = "min" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="FALSE">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>

        <Logger name="com.xylope.betriot" level="INFO" additivity="FALSE">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Logger>
    </Loggers>
</Configuration>
